asgiref==3.8.1
dj-database-url==2.3.0
Django==4.2
django-cors-headers==4.7.0
django-modeltranslation==0.19.13
gunicorn==23.0.0
packaging==24.2
pillow==11.1.0
psycopg2-binary==2.9.10
python-dotenv==1.1.0
sqlparse==0.5.3
typing_extensions==4.13.0
whitenoise==6.9.0
cloudinary==1.37.0
djangorestframework==3.15.1
drf-yasg==1.21.7
setuptools>=58.0.0
django-cloudinary-storage>=0.3.0
